@{
    ViewBag.Title = "About Us";
}

<div class="row">
    <div class="col-2"></div>
    <div class="col-md-8" style="text-align: center">
        <h1 class="topText" style="text-align: center">About Us:</h1>
        <p class="topText" style="text-align: justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac neque felis. Nam hendrerit nulla eget molestie ullamcorper. Quisque commodo tortor quis volutpat efficitur. Praesent tincidunt gravida felis euismod euismod. Donec non elit vel augue molestie semper. Aliquam auctor mauris neque, in sodales leo convallis vitae. Nunc semper sem enim, ac eleifend enim accumsan eget. Nulla pharetra libero vitae hendrerit hendrerit. Nunc lobortis laoreet diam, quis facilisis enim cursus quis. Pellentesque ut iaculis leo, in condimentum nibh. Nullam in nunc vel tortor efficitur lacinia a et eros. Aenean nec massa consectetur, facilisis arcu in, sagittis arcu. Phasellus pellentesque feugiat est, quis lacinia dolor maximus vel.

            Donec quis tortor orci. Fusce pretium luctus lacus. Curabitur posuere tempus dui, vel dignissim odio sagittis ac. Aenean molestie tellus vitae ullamcorper malesuada. Curabitur bibendum volutpat est quis faucibus. Maecenas ultrices viverra tincidunt. Sed pulvinar ipsum et tellus imperdiet vulputate. Nullam sit amet ornare justo, eu pretium erat. Fusce consectetur dui vitae sem aliquet, eu posuere nunc auctor. Cras luctus nulla justo, sit amet laoreet mi interdum eu. Curabitur lorem massa, congue eget dolor sed, condimentum volutpat enim. Duis ut enim vitae leo sagittis ultrices vitae et sapien. Quisque commodo consequat ipsum ut consequat.

            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam dictum dui sit amet erat tincidunt dapibus. Sed laoreet auctor erat, eget consequat urna finibus quis. Duis maximus venenatis tempor. Etiam tempor, leo nec cursus vulputate, nulla quam fringilla neque, nec placerat velit metus vel nulla. Integer ultricies pulvinar tortor at commodo. Proin quis est quam. Cras cursus consectetur risus, placerat ultrices nisi sagittis non. Nullam id ligula magna. Vivamus egestas eu justo et porttitor. Etiam at ex a dui venenatis ornare id eu nibh. Fusce urna magna, tincidunt ut urna sit amet, sodales finibus risus. Suspendisse sollicitudin, odio quis suscipit viverra, erat mi pharetra neque, vel interdum ex urna vel arcu.

            Vestibulum egestas pulvinar velit, non cursus sem scelerisque sed. In molestie nunc vel nunc gravida, vel dapibus nisl sollicitudin. Vestibulum arcu enim, varius eu enim mattis, pretium tempor libero. Aliquam blandit nec arcu quis dignissim. Duis venenatis odio dolor, id venenatis ante finibus sed. Proin sollicitudin lacus ac ipsum facilisis, vitae mattis nulla pretium. Praesent accumsan mauris enim, vel aliquet arcu sagittis eu. Ut ut nunc pulvinar, tincidunt nulla nec, vehicula dui. Nunc eu metus sed neque luctus maximus at vel lorem.

            Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse non tristique nulla. In imperdiet eget diam sit amet ultricies. Vivamus lobortis ornare molestie. Nullam hendrerit velit elit, ac consequat justo pharetra vitae. Suspendisse mollis enim fringilla ex faucibus blandit sit amet at ante. Mauris id nunc semper, gravida urna eget, fringilla tellus.
        </p>
    </div>
    <div class="col-2"></div>
</div>

