@{
    ViewBag.Title = "Contact Us";
}

<div class="container">
    <h1>Contact Us:</h1>
    <ul>
        <li>Email: contact@mymovies.com</li>
        <li>Tel: +(389) 77 777 777</li>
        <li>Address: Adresa No.1, 1000 Skopje, Macedonia</li>
    </ul>
</div>