@model List<MyMovies.Models.Movie>

@{
    ViewBag.Title = "Manage movie";
}
<p>
    <a href="/Movies/Create" class="btn btn-success">Create</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var movie in Model)
            {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td class="text-center">
                    <a href="/Movies/Update/@movie.Id" class="text-primary">Modify</a> |
                    <a href="/Movies/Delete/@movie.Id" class="text-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>